# ============================================================
# E-COMMERCE DATA ENGINEERING PROJECT
# Python 3.13 / Windows
# ============================================================

# ----------------------------
# Apache Spark
# ----------------------------
pyspark==4.2.0

# ----------------------------
# Kafka
# ----------------------------
confluent-kafka==2.15.1

# ----------------------------
# Environment configuration
# ----------------------------
python-dotenv==1.2.3

# ----------------------------
# Databricks SQL
# ----------------------------
databricks-sql-connector==4.5.0

# ----------------------------
# Testing
# ----------------------------
pytest==9.1.1